__*
*.bak
bin/bak
bin/cacaoweb
bin/get_keychain_pass
bookmarks
boot
cabal
cache
*contacts*
dict
fish/fishd.*
fonts
gem
*history*
info
lein
*lisa*
*local*
*lock*
*log*
moon/**/*.lua
*nekage*
netrc
opam
*othala*
rtorrent
session
spell
ssh
sup/xapian
tags
tagged
mpv/watch_later
